body {
    color: white;
    background-color: black;
    margin: 0;
}

#navbar {
    margin-top: 3%;
    margin-right: 3%;
}

.navbar {
    min-width: 5px;
}

#navbar .active a {
    color: white;
}

#navbar .name p {
    font-family: "Metropolis-Light";
    margin-left: 100px;
    font-size: 42px;
    color: white;
}

#midleft {
    margin-left: 200px;
    margin-top: 200px;
}

#midleft h1 {
    font-family: "Metropolis-Bold";
    font-size: 100px;
}

#h1vision {
    animation: fadeLeft 3s;
}

#h1design {
    animation: fadeLeft 6s;
}

#h1function {
    animation: fadeLeft 9s;
}

#midleft p {
    animation: fadeIn 1.5s;
    font-family: "Metropolis-Light";
    font-size: 24px;
    color: gray;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent !important;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
    font-size: 22px;
    color: gray;
    margin-right: 50px;
}

.col {
    margin: auto;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orange;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 65%;
}

#bottom {
    position: fixed;
    bottom: 0;
    animation: fadeIn 1.5s;
    margin-left: 20%;
    width: 80%;
    background: rgba(1, 1, 1, 0.3);
    padding: 50px 0px 50px 150px;
    font-family: "Metropolis-Light";
    color: white;
}

#bottom h1 {
    animation: fadeLeft 3s;
    font-family: "Metropolis-Bold";
    font-size: 40px;
}

#bottom h2 {
    animation: fadeLeft 6s;
    color: gray;
    margin-top: -15px;
    font-size: 25px;
}

#bottom h3 {
    animation: fadeLeft 9s;
    color: gray;
    margin-top: -10px;
    font-size: 15px;
}

@keyframes fadeIn {
    0% {
        margin-top: -20px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes fadeLeft {
    0% {
        margin-left: -100px;
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

#myVideo {
    filter: brightness(20%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
